.form-container h1 {
  font-family: 'Creepster', cursive;
    text-align: center;
    letter-spacing: 1px;
    color: white;
  }
  
  .fweet-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-family: 'Creepster', cursive;
    font-weight: 700;
    margin-bottom: .15rem;
    font-size: .9rem;
  }
  
  input, textarea {
    margin-bottom: .5rem;
    padding: .25rem;
    font-family: 'Lato';
    border: none;
  }
  
  button {
    margin: .5rem 0;
    padding: .5rem 0;
    padding-left: 8px;
    background-color: #ffffff;
    border: none;
    font-family: 'Creepster', cursive;
    font-size: 1rem;
  }