.rattle-box {
    background-color: #F5F8FA;
    margin: .75rem 0;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    border: 2px solid #3a0d6e;
    box-shadow:
      0 0 0 2px rgb(31, 7, 44);
    ;
  }
  
  .rattle-content {
    font-size: .9rem;
  }
  
  .footer {
    font-family: 'Creepster', cursive;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: .85rem;
    font-weight: 700;
  }
  
  .full {
    color: red;
  }